<ion-header no-border="">
  <ion-navbar color="primary">
    <ion-title>Rep's</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar mode="ios" (ionChange)="search()" placeholder="Type User Name" [(ngModel)]="str"></ion-searchbar>

  <ion-list no-margin="" no-lines="">
    <ion-item no-padding="" (tap)="details(rep)" *ngFor="let rep of repbuyerdata">
      <ion-thumbnail item-start>
        <img src="{{rep.data.pic || 'https://firebasestorage.googleapis.com/v0/b/replist-c3017.appspot.com/o/download.jfif?alt=media&token=a59d50c7-adf2-45d6-b6e9-303c138c330e'}}">
      </ion-thumbnail>
      <h2>{{rep.data.companyname}}</h2>
      <p>{{rep.data.address}}</p>
      <p>{{rep.data.phone}}</p>
    </ion-item>


    <ion-item no-padding="" *ngIf="repbuyerdata.length==0">
      
      <h2>Sorry!</h2>
      <p>No Buyers </p>
      <small>Found</small>



    </ion-item>
   

   
  </ion-list>

</ion-content>
