<ion-header no-border="">
  <ion-navbar color="primary">
<!--    <ion-title>-->
<!--      REP Friends-->
<!--    </ion-title>-->
  </ion-navbar>
</ion-header>

<ion-content>
  <div padding="" style="background-color: #f8f8f8;">
    <ion-item no-padding="" no-lines="">
      <ion-thumbnail item-start>
        <img *ngIf="!friend?.pic" src="https://www.designevo.com/res/templates/thumb_small/yellow-signboard-and-colorful-hamburger.png">
        <img *ngIf="friend?.pic" src="https://www.designevo.com/res/templates/thumb_small/yellow-signboard-and-colorful-hamburger.png">
      </ion-thumbnail>
      <h2>{{friend.companyname}}</h2>
      <p>{{friend.address}}</p>
      <p>{{friend.contactno}}</p>
    </ion-item>
  </div>

  <div class="btns_area">


    <ion-item no-padding>
      <ion-label floating>Locality / Street</ion-label>
      <ion-textarea disabled type="text" [value]="friend.street"></ion-textarea>
    </ion-item>


    <ion-item no-padding>
      <ion-label floating>Email</ion-label>
      <ion-input disabled type="email" [value]="friend.email"></ion-input>
    </ion-item>

    <ion-item no-padding>
      <ion-label floating>Contact No</ion-label>
      <ion-input disabled type="email" [value]="friend.phone"></ion-input>
    </ion-item>

    <ion-item no-padding>
      <ion-label floating>Fax</ion-label>
      <ion-input disabled type="email" [value]="friend.fax"></ion-input>
    </ion-item>


    <div padding="">
      <button ion-button icon-right="" mode="ios" color="primaryGrad" (tap)="recommend()">
       Recommend to a Buyer
      </button>
    </div>

  </div>

</ion-content>

