<ion-header no-border="">
  <ion-navbar color="primary">
    <ion-title>YTD Orders</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item no-padding="" no-lines="" (tap)="details(itm)" *ngFor="let itm of orderlist">
   
      <div class="bg">
        {{itm.data.date}}
      </div>
   

    <h2>{{itm.id}}</h2>
    
    <button ion-button clear item-end icon-only="">
      <ion-icon name="arrow-forward"></ion-icon>
    </button>

  </ion-item>


  <ion-item no-padding="" no-lines=""  *ngIf="orderlist.length==0">
   
    <div class="bg">
      No Orders Found!
    </div>
 


</ion-item>
  
</ion-content>
