<ion-header no-border="">
  <ion-navbar color="primary">
    <ion-title>
      Shared Contacts
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
 

  <div style="padding: 2px 8px">
    <ion-item no-lines="" style="border-radius: 4px;overflow: hidden">
      <ion-label>Shared by</ion-label>
      <ion-select [(ngModel)]="filter" (ionChange)="filterval()">
        <ion-option value="f">Friends</ion-option>
        <ion-option value="m" selected>Me</ion-option>
      </ion-select>
    </ion-item>
  </div>

  <ion-list no-margin="" no-lines="">

    <ion-item no-padding="" (tap)="details(rep)" *ngFor="let rep of repbuyerdata">
      <ion-thumbnail item-start>
        <img src="{{rep.data.sharedata.data.pic || 'https://firebasestorage.googleapis.com/v0/b/replist-c3017.appspot.com/o/download.jfif?alt=media&token=a59d50c7-adf2-45d6-b6e9-303c138c330e'}}">
      </ion-thumbnail>
      <h2>{{rep.data.sharedata.data.companyname}}</h2>
      <p>{{rep.data.sharedata.data.address}}</p>
      <p>{{rep.data.sharedata.data.contactno}}</p>
      <p>Shared by: {{rep.data.sharedBy.data.name}}</p>
    </ion-item>


    
    <ion-item no-padding="" *ngIf="repbuyerdata.length==0">
        
        <p>Empty Records!</p>
      </ion-item>



  </ion-list>

</ion-content>

