<ion-header no-border="">
  <ion-navbar color="primary">
    <ion-title>Invitation Requests</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list no-margin="" no-lines="">
    <ion-item no-padding="" *ngFor="let rep of repbuyerdata">
      <ion-thumbnail item-start>
        <img src="{{rep.data.profilepic || 'https://firebasestorage.googleapis.com/v0/b/replist-c3017.appspot.com/o/download.jfif?alt=media&token=a59d50c7-adf2-45d6-b6e9-303c138c330e'}}">
      </ion-thumbnail>
      <h2>{{rep.data.name}}</h2>
      <p>{{rep.data.companyname}} </p>
      <small>{{rep.data.address}}</small>

      <div class="respond_btn" item-end="" (click)="accept(rep)">
        <button ion-button icon-only="" outline>
          <ion-icon name="checkmark"></ion-icon>
        </button>
        <button ion-button icon-only="" outline (click)="remove(rep)">
          <ion-icon name="close"></ion-icon>
        </button>
      </div>

    </ion-item>


    <ion-item no-padding="" *ngIf="repbuyerdata.length==0">
      
      <h2>Sorry!</h2>
      <p>No Invitation </p>
      <small>Found</small>



    </ion-item>
   

  </ion-list>

</ion-content>
